
    <!-- HEADER
============================================= -->
<!--header id="header" class="clearfix">
    <div class="site-header">
        <div class="container-fluid">
            <div class="row">
                <div class="top-header clearfix">
                    <div class="logo col-md-2">
                        <a href="index.html">
                            <img src="..\..\assets\img\logo1sindi.jpeg" alt="" width="100px" height="130px">
                        </a>
                    </div>

                    <div class="info col-md-7 mt-2">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-user"></i></a>
                                <p>
                                    <a href="http://grupoprosoft.net/acasoftWeb/web"><span class="heading">Sistema Informático</span></a>
                                    <small><strong>Sindicato de Choferes</strong></small>
                                </p>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <p>
                                    <a href="#"><span class="heading">Atención al cliente</span></a>
                                    <small><strong>+593(062)977 206  - +593(062)977 189</strong></small>
                                </p>
                            </li>
                            <li class="last">
                                <a href="sindichofespejo@hotmail.com"><i class="fa fa-envelope"></i></a>
                                <p>
                                    <span class="heading">¿Inquietudes?</span>
                                    <small><strong>sindichofespejo@hotmail.com</strong></small>
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="slide-buttons">
                        <button id="slide-buttons" class="slide-button icon icon-navicon"></button>
                    </div>
                </div>

                <div class="navigation">
                    <div class="main-menu">
                        <ul class="menu">
                            <li><a href="index.htm">Inicio</a></li>
                            <li><a href="nosotros.html">Nosotros</a>
                                <ul>
                                    <li><a href="#">Misión y Visión</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Servicios</a>
                                 <ul>
                                    <li><a href="atencion-a-accidentes.html">Atención a Accidentes</a></li>
                                    <li><a href="atencion-mecanica-de-emergencia.html">Atención Mecánica de Emergencia</a></li>
                                    <li><a href="tipos-licencia.html">Escuela de Conducción</a>
                                </ul>
                            </li>
                            <li><a href="medios-institucionales.html">Medios Institucionales</a></li>
                            <li><a href="pqrs.html">Contáctenos</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="c-menu--slide-right" class="c-menu c-menu--slide-right">
        <button class="c-menu__close icon icon-close"></button>

        <ul class="slide-menu-items">
            <li><a href="index.htm">Inicio</a></li>
            <li><a href="nosotros.html">Nosotros</a>
                <ul>
                    <li><a href="#">Misión y Visión</a>
                    </li>
                </ul>
            </li>
            <li><a href="#">Servicios</a>
                <ul>
                    <li><a href="atencion-a-accidentes.html">Atención a Accidentes</a></li>
                    <li><a href="atencion-mecanica-de-emergencia.html">Atención Mecánica de Emergencia</a></li>
                    <li><a href="tipos-licencia.html">Escuela de Conducción</a>
                </ul>
            </li>
            <li><a href="medios-institucionales.html">Medios Institucionales</a></li>
            <li><a href="pqrs.html">Contáctenos</a></li>

        </ul>
    </nav>
    <div id="slide-overlay" class="slide-overlay"></div>

</header-->
<!-- HEADER END -->

<div class="header">
  <div class="header_left">
    <ul>
      <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Espejo, Carchi, Ecuador</li>
      <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+593(062)977 206  - +593(062)977 189</li>
    </ul>
  </div>
  <div class="header_right">
    <div class="w3_agile_login">
      <div class="cd-main-header">
        <a class="cd-search-trigger" href="#cd-search"> <span></span></a>
        <!-- cd-header-buttons -->
      </div>
      <div id="cd-search" class="cd-search">
        <form action="#" method="post">
          <input name="Search" type="search" placeholder="Search...">
        </form>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

</div>
