<div class="container">
  <div class="w3l-heading">
    <h1 class="w3ls_head">
      <p><strong>REQUISITOS Y TIPOS DE LICENCIAS</strong> </p>
    </h1>
  </div>
  <div>
    <table class="table table-bordered table-striped table-hover">
      <tr>
          <td> <strong>TIPO DE LICENCIA</strong></td>
          <td><strong>DURACIÓN</strong></td>

      </tr>
      <tr>
          <td>LICENCIA TIPO C</td>
          <td>6 MESES </td>

      </tr>
      <tr>
          <td>LICENCIA TIPO D CONVALIDADA </td>
          <td>3 MESES </td>

      </tr>
      <tr>
          <td>LICENCIA TIPO D REGULAR </td>
          <td>7 MESES </td>
      </tr>
      <tr>
          <td>LICENCIA TIPO E CONVALIDADA  </td>
          <td>5 MESES  </td>
      </tr>
      <tr>
          <td>LICENCIA TIPO E REGULAR </td>
          <td>9 MESES </td>
      </tr>

  </table>
  </div>
</div>
<!-- CONTENT START
    ============================================= -->
    <section id="content" class="clearfix">

      <!-- COMPANY PROFILE START
      ============================================= -->
      <div class="company-info wrapper clearfix">
          <div class="container">
              <div class="row">

                  <div class="col-md-8 col-md-offset-2">

                      <div class="row">

                          <div class="col-md-6">

                              <br>

                              <br>
                              <p> <strong>JORNADAS DE ESTUDIO</strong> </p>
                              <ul>
                                  <li>LICENCIAS TIPO C - NOCTURNA Y FINES DE SEMANA </li>
                                  <li>LICENCIAS TIPO D y E – FINES DE SEMANA .</li>

                              </ul>
                              <br>
                              <p> <strong>PROCESO DE ADMISION Y MATRICULACION</strong> </p>
                              <p> <strong>ADMISION</strong>  </p>
                              <ul>
                                  <li>1.	REALIZARSE LOS EXÁMENES MEDICOS, PSICOLOGICOS Y PSICOSENSOMÉTRICOS  </li>
                                  <li>2.	POSEER ORIGINAL Y COPIAS A COLOR DE CEDULA DE IDENTIDAD, PAPELETA DE VOTACION Y TIPO DE SANGRE  .</li>
                                  <li>3.	SER BACHILLER</li>
                                  <li>4.	LICENCIA TIPO D CONVALIDADA </li>
                                  <li>4.1.	POSEER LICENCIA PROFESIONAL TIPO C ORIGINAL Y COPIA</li>
                                  <li>4.2.	CERTIFICADO DE LA ANT DE LOS PUNTOS DISPONIBLES EN SU LICENCIA </li>
                                  <li>5.	LICENCIA TIPO E CONVALIDADA </li>
                                  <li>5.1.	POSEER LICENCIA PROFESIONAL TIPO C o D ORIGINAL Y COPIA</li>
                                  <li>5.2.	CERTIFICADO DE LA ANT DE LOS PUNTOS DISPONIBLES EN SU LICENCIA </li>
                              </ul>
                              <br>
                              <p><strong>MATRICULACION</strong></p>
                              <ul>
                                  <li>1.	HABER APROBADO LOS EXAMENES MEDICOS, PSICOLOGICOS Y PSICOSENSOMÉTRICOS</li>
                              </ul>
                              <br>
                              <p><strong>DOCUMENTOS PARA LA MATRICULA </strong></p>
                              <ul>
                                  <li>1.	TRES FOTOS A COLOR ACTUALIZADAS TAMAÑO CARNET </li>
                                  <li>2.	ORIGINAL DEL CARNET DE TIPIFICACION SANGUINEA </li>

                              </ul>
                              <br>
                          </div>

                          <div class="col-md-6">
                              <img src="../../assets/img/inspeccion.png" alt="Escuela de Conducción" class="img-responsive img-rounded">
                          </div>
                      </div>

                  </div>

              </div>
          </div>
      </div>
      <!-- COMPANY PROFILE -->

  </section>
  <!-- CONTENT END -->
