<div class="register">
  <div class="container">
    <div class="col-md-6 w3layouts_register_right">
      <form>
        <input name="Name" placeholder="First Name" type="text" required="">
        <input name="Name" placeholder="Last Name" type="text" required="">
        <input name="Email" placeholder="Email" type="email" required="">
        <input name="Subject" placeholder="Subject" type="text" required="">
        <input type="submit" value="Enviar">
      </form>
    </div>
    <div class="col-md-6 w3layouts_register_left">
      <h3><span>Envianos un </span> email</h3>
      <p>Nuestra prioridad es la formación de profesionales capaces, al servicio de la comunidad</p>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>

