<!-- about-us -->
<div class="about">
  <div class="container">
    <div class="w3l-heading">
      <h3 class="w3ls_head">Acerca de Nosotros</h3>
    </div>

    <div class="about-grids">
      <div class="col-md-6 about-grid">
        <div class="about-grid1">
          <div class="itis">
            <h4>Mision</h4>
          </div>
          <div class="hji">
            <p>Inculcar en todos los estudiantes de la Escuela de Capacitación del
              Sindicato de Choferes Profesionales del cantón Espejo, normas de conducta
              del peatón, pasajero y del conductor con principios y valores éticos y morales
              que ayuden a disminuir las infracciones de tránsito. Fomentar el espíritu de
              solidaridad y ayuda en peatones, pasajeros y conductores de vehículos, sustentado
              en el desarrollo integro de las personas.
            </p>
          </div>
          <div class="about-grid1-pos">
            <img src="./assets/images/1.jpg" alt=" " class="img-responsive" />
          </div>
        </div>
      </div>
      <div class="col-md-6 about-grid">
        <div class="about-grid2">

          <div class="col-xs-10 about-grid2-right">
            <p></p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="about-grids">
      <div class="col-md-6 about-grid">
        <div class="about-grid2">

          <div class="col-xs-10 about-grid2-right">
            <p></p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-6 about-grid">
        <div class="about-grid1 about-grd1">
          <div class="itis">
            <h4>Visión</h4>
          </div>
          <div class="hji">
            <p>Llegar a ser reconocidos como modelo en la capacitación
              de nuevos conductores con infraestructura y tecnología de
              acuerdo a las necesidades existentes. Crear en todos los
              usuarios de la vía terrestre una verdadera cultura en materia
              de educación y seguridad vial, para propender a disminuir el
              cometimiento de los accidentes de tránsito, en coordinación con
              entidades relacionadas con la educación y el transporte terrestre</p>
          </div>
          <div class="about-grid1-pos1">
            <img src="./assets/images/2.jpg" alt=" " class="img-responsive" />
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //about-us -->
