<!-- banner-bottom-icons -->
<div class="banner-bottom-icons">
  <div class="container">
    <div class="w3l-heading">
      <h2 class="w3ls_head">Sindicato de choferes Profesionales</h2>
    </div>
  <div class="col-md-4 w3_banner_bottom_icons_left hover15">
    <div class="w3_agile_banner_bottom">
      <figure><img src="./assets/images/3.jpg" alt=" " class="img-responsive" /></figure>
    </div>
  </div>
  <div class="col-md-8 w3_banner_bottom_icons_right">
    <a href="https://grupoprosoft.net/eva-sindicato-espejo/">
      <div class="col-xs-6 w3_banner_bottom_icons1">
        <div class="w3_banner_bottom_icons1_effect">
          <i class="fa-graduation-cap"></i>
          <h3>Plataforma Virtual EVA</h3>
          <!--p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p-->
        </div>
      </div>
    </a>
    <div class="col-xs-6 w3_banner_bottom_icons1">
      <a href="http://grupoprosoft.net/acasoftWeb/web">
        <div class="w3_banner_bottom_icons1_effect">
          <i class="fa-book"></i>
          <h3>Sistema Institucional de calificaciones</h3>
          <!--p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p-->
        </div>
      </a>
    </div>
    <div class="col-xs-6 w3_banner_bottom_icons1">
      <a href="https://grupoprosoft.net/acasoftWeb/web">
        <div class="w3_banner_bottom_icons1_effect">
          <i class="fa-calculator"></i>
          <h3>Sistema de Contabilidad</h3>
          <!--p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p-->
        </div>
      </a>
    </div>
    <div class="col-xs-6 w3_banner_bottom_icons1">
      <a href="#">
        <div class="w3_banner_bottom_icons1_effect">
          <i class="fa-file-image-o"></i>
          <h3>Galería</h3>
          <!--p>Curabitur ac enim et augue consectetur elementum sed vitae neque.</p-->
        </div>
      </a>
    </div>
    <div class="clearfix"> </div>
  </div>
  <div class="clearfix"> </div>
  </div>
</div>
<!-- //banner-bottom-icons -->
