.container{
  height: auto;
  section{
    height: auto;
    section{
      height: auto;
      .flexslider{
        height: auto;

          ul{
            height: auto;
            li{
              height: auto;
              min-height: 200px !important;
              .agileits_w3layouts_banner_info{
                height: auto;
              }
            }
          }

      }
    }
  }
}
